.logo{
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    border: 2px solid gold;
    margin-bottom: 200px;
}

.menu_hamburger{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

ul{
    display: none;
}

/* Media query che agisce sulla larghezza dello schermo dello schermo */
@media screen and (min-width: 451px) {

    .menu_hamburger{
        display: none;
    }
    
    ul{
        margin-right: 20px;
        display: flex;
        list-style-type: none;
    }
    
    li{
        padding: 10px;
        font-weight: bold;
    }
    
    a{
        text-decoration: none;
        color: gold;
    }
   
}